.Todo{
    height: 30.8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
}
.Text{
    width:460px;
    
    float:left;
}

.Checked{
    float:left;
    width:460px;
    text-decoration: line-through;
    background-color:greenyellow;

}
.Buttons{
    float: right;
}